.navbar {
    justify-content: space-around;
    min-height: 90px;
    width: 100%;
}

.navbar p {
    margin-left: 20px;
    cursor : pointer ;
    font-weight: bold;
    color: black;
}

.logo {
  align-items: center;
}

.logo input {
  margin-left: 25px;
  border-radius: 12px;
  width: 250px;
  border: 1px solid black;
}


.about {
  align-items: center;
}

.about img {
  margin-left: 12px;
}
