.cart-item {
display: block;
margin: 140px auto;
}

.card-cart {
  align-items: center;
  justify-content: space-around;
  padding: 12px;
  margin: 24px auto;
}

.add-desc {
  justify-content: space-between;
}

.add-desc input , span {
  margin-left: 12px;
}

.checkout {
  width: 100%;
 text-align: center;
 margin: 24px auto;
}

.checkout input {
  margin: auto 24px;
}
