<nav class="navbar d-flex text-white shadow-sm">
    <div class="logo d-flex">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjf1ZIdzhNF5oyWFgOhuvNwdyicZ1roYJaOg&s" width="50" height="50"/>
      <p>Ysf's shop</p>
      <input type="text" placeholder="search" />
    </div>
    <div class="list d-flex">
        <p>Home</p>
        <p>New product</p>
        <p>Deals</p>
        <p>what's news</p>
        <p>Delivery</p>
    </div>
    <div class="about d-flex">
   <div class="profile d-flex">
    <img src="https://png.pngtree.com/png-vector/20191110/ourmid/pngtree-avatar-icon-profile-icon-member-login-vector-isolated-png-image_1978396.jpg" alt="" height="25" width="25"/>
    <p>profile</p>
  </div>
    <div class="cart d-flex">
      <img src="https://cdn-icons-png.flaticon.com/512/4379/4379542.png" alt="" height="25" width="25"/>
      <p>Cart</p>
    </div>

      </div>
</nav>
