.navbar {
    justify-content: space-around;
    min-height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10000;
    opacity: 1;
    background-color: white;
}

.navbar p {
    margin-left: 20px;
    cursor : pointer ;
    font-weight: bold;
    color: black;
    transition: 0.3s;
}

a {
  text-decoration: none;
}

.navbar p:hover {
    color: #54C392;
}

.logo {
  align-items: center;
}

.logo input {
  margin-left: 25px;
  border-radius: 12px;
  width: 300px;
  height: 40px;
  border: 1px solid black;
  transition: 0.3s;
}


.about {
  align-items: center;
}

.about img {
  margin-left: 12px;
}



