<div class="container h-100 my-4">
<h1 class="text-center text-primary">Auth</h1>
<form class="authForm m-auto bg-light d-flex flex-column w-50 h-100 rounded shadow-sm">
<input type="email" placeholder="Email" class="border rounded m-2 rounded " />
<input type="password" placeholder="password" class="m-2 rounded border "  />
<button class="btn btn-primary w-12 m-auto my-2">Login</button>
<p class="text-center text-primary">Create Account Here !</p>
<p class="text-center text-primary">Forget password !</p>
</form>
</div>
