.product {
  margin: 140px auto;
}

.second-photo {
  display: flex;
  flex-direction: column;
}

.second-photo img {
  margin: 12px;
  cursor: pointer;
  transition:transform 0.3s ease-in-out;
}

.second-photo img:hover {
  border: 1px solid black;
  transform: scale(1.07);
}

input {
background-color: black;
color: white;
border-radius: 50px;
border: none;
padding: 12px;
width: 150px;
transition: 0.3s;
margin-top: 80px;
}


.not-found {
  margin: 140px auto;
}
