<div *ngIf="product" class="product container shadow p-5 d-flex">
  <div class="product-images d-flex">
    <div class="second-photo container">
      <div *ngFor="let image of product.photos">
        <img [src]="image" [alt]="product.name" width="80" height="110" (click)="changeMainPhoto(image)" class="shadow rounded" />
      </div>
    </div>
    <img [src]="mainPhoto" [alt]="product.name" class="shadow rounded" width="500" height="700"/>
  </div>
  <div class="description m-5">
    <h2>{{ product.name }}</h2>
    <p>{{ product.description }}</p>
    <p><b>{{ product.price }}$</b></p>
    <p [ngClass]="product.available ? 'text-success' : 'text-danger'">
      {{ product.available ? 'In Stock' : 'Out of Stock' }}
    </p>
    <star-rating [(rating)]="product.rating"></star-rating>
    <input type="button" value="Add to Cart" class="m-3" (click)="addToCart(product)"/>
  </div>
</div>

<div *ngIf="!product" class="container not-found alert alert-danger">
  <h1 class="text-danger text-center">Product not found !</h1>
</div>
