<div *ngIf="product" class="product container shadow p-5 d-flex">
  <div class="product-images">
    <div class="main-photo"><img [src]="product.picture" [alt]="product.name"/></div>
  <div *ngFor="let images of product.photos" class="d-flex">
      <img [src]="images" [alt]="product.name" width="80" height="110"/>
  </div>
  </div>
  <div class="description m-5 d-flex flex-direction">
    <h2>{{ product.name }}</h2>
    <p>{{ product.description }}</p>
    <p><b>{{ product.price }}$</b></p>
    <p [ngClass]="product.available ? 'text-success' : 'text-danger'">
      {{ product.available ? 'In Stock' : 'Out of Stock' }}
    </p>
    <star-rating [(rating)]="product.rating"></star-rating>
      <input type="button" value="add to cart" class="m-3" />
  </div>
</div>
<div *ngIf="!product">
  <p>Product not found.</p>
</div>
