.slide {
  height: 90vh;
  margin:140px auto 70px;
  width: 95%;
  background-image: url("https://images.hdqwalls.com/wallpapers/girl-in-glasses-looking-back-4k-un.jpg");
  border-radius: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.5s;
}

.read-more {
  z-index: 100000;
  width: auto;
  background-image: linear-gradient(to bottom, transparent, #54C392);
  opacity: 1;
  visibility: hidden;
  height: 0;
  transition: height 0.5s ease, visibility 0.5s ease;
}

.slide:hover .read-more {
  visibility: visible;
  height: 100%;
}

h1 {
  font-size: 80px;
  transition: 0.5s;
}

input {
  background-color: white;
  border-radius: 50px;
  transition: 0.5s;
}

input :hover {
  background-color: black;
  color: white;
}

