<div *ngIf="items.length === 0">
  <p>Your cart is empty.</p>
</div>
<div *ngIf="items.length > 0">
  <div class="container cart-item" >
    <div class="card-cart d-flex shadow rounded" *ngFor="let item of items">
      <div><img [src]="item.picture" alt="{{ item.name }}"  width="50" height="50"/></div>
      <div><b>{{ item.name }}</b></div>
      <div>{{ item.description }}</div>
      <div>{{ item.price | currency }}</div>
      <div class="add-desc flex">
        <input type="button" value="-" (click)="decrementQuantity()" class="btn btn-dark" [disabled]="quantity === 1">
        <span><b>{{ quantity }}</b></span>
        <input type="button" value="+" (click)="incrementQuantity()" class="btn btn-dark">
        <input type="button" value="Remove" (click)="removeItem(item.id)" class="btn btn-danger">
      </div>
    </div>
  </div>
  <div class="container checkout">
    <input type="submit" value="checkout"  class="btn btn-dark"/>
    <input type="submit" value="clear the cart" class="btn btn-danger" (click)="clearItems()"/>
  </div>
</div>

