
.container {
  margin-top: 70px;
}
.home {
  width: 90%;
  justify-content: space-around;
  align-items: center;
  min-height: 400px;
  flex-wrap: wrap;
}

.product {
  width: 270px;
  margin: 20px;
  text-align: center;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  border-radius: 12px;
}

.product:hover {
  transform: translateY(-7px);
}

.home .images {
flex-basis: 40%;
margin : auto ;
justify-content: center;
}

.home img {
  border-radius: 12px;
}

.home .description {
  flex-basis: 40%;
  margin : auto ;
  text-align: center;
  justify-content: center;
}

form input {
  margin-left: 8px;
}

